<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Browse <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../profile/:id">My Profile <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../myposts">My Posts <span class="sr-only"></span></a>
        </li>
    </ul>

    <ul class="navbar-nav mr-right">

        <li class="nav-item dropdown mr-3">
        <button class="btn btn-outline-light my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
        <div class="dropdown-menu dropdown-menu-right p-3">

            <form class="form-horizontal" (ngSubmit) = "loginUser()">

                <input class="form-control form-fields" type="text" name="username" placeholder="Username" [(ngModel)]="regUser.username">

                <input class="form-control form-fields" type="password" name="password" placeholder="Password" [(ngModel)]="regUser.password">

                <input class="btn btn-secondary" style="width:100%;" type="submit" name="submit" value="Login">

            </form>



        </div>
        </li>

        <li class="nav-item dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</button>
        <div class="dropdown-menu dropdown-menu-right p-3">

            <form class="form-horizontal" (ngSubmit) = "createNewUser()">

                <input class="form-control form-fields" type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.first_name">

                <input class="form-control form-fields" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.last_name">

                <input class="form-control form-fields" type="text" name="email" placeholder="Email" [(ngModel)]="newUser.email">

                <input class="form-control form-fields" type="text" name="zip_code" placeholder="ZIP" [(ngModel)]="newUser.zip_code">

                <input class="form-control form-fields" type="text" name="username" placeholder="Username" [(ngModel)]="newUser.username">

                <input class="form-control form-fields" type="password" name="password" placeholder="Password" [(ngModel)]="newUser.password">

                <input class="btn btn-secondary" style="width:100%;" type="submit" name="submit" value="Sign Up">

            </form>

        </div>
        </li>

        <li>
            <input class="btn btn-outline-danger ml-3" style="width:auto;" type="submit" name="submit" value="Logout">
        </li>

    </ul>


    </div>
</nav>

<div class="container mx-auto" id="searchContainer">
    <div class="row mt-5">

    <div class="col-12 col-sm-12 col-md-6 col-lg-2 mb-2">
        <label for="searchZip">By Location</label>
        <input type="text" id="searchZip" class="form-control mb-2" placeholder="Enter ZIP">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-2 mb-2">
        <label for="searchItem">By Item</label>
        <input type="text" id="searchItem" class="form-control mb-2" placeholder="Item name">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-2 mb-3">
        <label for="searchCat">By Category</label>
        <select class="form-control custom-select" id="searchCat">
            <option selected>All</option>
            <option>Books</option>
            <option>Movies</option>
            <option>Games</option>
            <option>Furniture</option>
            <option>Decoration</option>
            <option>Music</option>
            <option>Toys</option>
            <option>Misc.</option>
        </select>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-2 mb-2">
        <label for="searchSeller">By Seller</label>
        <input type="text" id="searchSeller" class="form-control" placeholder="Seller name">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
        <label for="searchButs"> </label>
        <div id="searchButs" class="form-inline mt-2">
            <button type="submit" id="searchSubmit" onclick="someFunction()" class="btn btn-success mr-2">Search</button>
            <button type="button" id="searchClear" onclick="someOtherFunction()" class="btn btn-outline-secondary">Clear</button>
        </div>
    </div>
    </div>

</div>
<hr>

<div class="container mx-auto" id="mainContent">
    <div class="row">
<!-- 
    <div class="col mb-4">
        <div class="card" style="width: 20rem;">

        <div class="card-body">
            <div class="card-text">

            <div class="row">

                <div class="col-3 pl-4 cat-books"><span>N/A</span></div>
                <div class="col"><h5>Bunch o' Books<br>$10.99</h5></div>

            </div>

            <p><i>UserName01</i> | <i>Fort Worth, TX</i></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dui a ante ultricies ornare. Donec quam leo, dignissim sit amet mi non, iaculis porta enim.</p>
            <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem; height:100%;">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-music"><span>N/A</span></div>
                    <div class="col"><h5>Classic Cassettes<br>$5.00</h5></div>

                </div>

                <p><i>UserName02</i> | <i>Keller, TX</i></p>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>

        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem; height:100%;">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-movies"><span>N/A</span></div>
                    <div class="col"><h5>Mid-90's Movies<br>$20.50</h5></div>

                </div>

                <p><i>UserName03</i> | <i>Southlake, TX</i></p>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem; height:100%">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-games"><span>N/A</span></div>
                    <div class="col"><h5>Gaming Gear<br>$75.00</h5></div>

                </div>

                <p><i>UserName04</i> | <i>Azle, TX</i></p>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>

        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem; height:100%">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-furniture"><span>N/A</span></div>
                    <div class="col"><h5>Comfy Chairs<br>$25.00</h5></div>

                </div>

                <p><i>UserName05</i> | <i>Westlake, TX</i></p>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>

        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem; height:100%;">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-toys"><span style="color:#666;">N/A</span></div>
                    <div class="col"><h5>Toddler Toys<br>$15.00</h5></div>

                </div>

                <p><i>UserName05</i> | <i>N. Richland Hills, TX</i></p>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a href="../post/">View post &#187;</a></p>
            </div>

        </div>
        </div>
    </div> -->

    <div class="col mb-4" *ngFor='let post of posts'>
        <div class="card" style="width: 20rem; height:100%;">
        <div class="card-body d-flex flex-column">
            <div class="card-text">

                <div class="row">

                    <div class="col-3 pl-4 cat-toys"><span style="color:#666;">N/A</span></div>
                    <div class="col"><h5>{{post.title}}<br>${{post.price}}</h5></div>

                </div>

                <p><i>{{post.user_id}}</i> | <i>{{post.category}}</i></p>
                <p>{{post.description}}</p>

            </div>

            <div class="mt-auto">
                <p class="text-right"><a [routerLink]="'../post'">View post &#187;</a></p>
            </div>

        </div>
        </div>
    </div>

    </div>
</div>

<!-- <h1>Testing</h1>
<ul *ngIf='users'>

<li *ngFor='let user of users'>
    <div>First Name: {{user.first_name}}</div>
    <div>Last Name: {{user.last_name}}</div>
    <div>Username: {{user.username}}</div>
</li>
</ul>

<ul *ngIf='posts'>

    <li *ngFor='let post of posts'>
        <div>Title: {{post.title}}</div>
        <div>User: {{post.user_id}}</div>
        <div>Category: {{post.category}}</div>
        <div>Price: {{post.price}}</div>
        <div>Description: {{post.description}}</div>
    </li>
    </ul> -->

<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
