<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="../">Browse <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../profile">My Profile <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../myposts">My Posts <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class="navbar-nav mr-right">
        <li class="nav-item">
        <button class="btn btn-outline-light my-2 my-sm-0" href="#" type="button" id="logoutBut">Logout</button>
        </li>
    </ul>
    </div>
</nav>
<div class="container mx-auto" id="mainContent">
    <div class="row mt-5">
        <!--ACCOUNT INFORMATION-->
        <div class="col-12 px-2">
            <div class="row form-inline">
                <div class="col-6 text-left"><h4 class="mb-0">Create Post</h4></div>
                <div class="col-6 text-right"><button type="button" id="postCreate" class="btn btn-primary text-right">Create Post</button></div>
            </div>
        </div>
        <div class="col-12 px-2">
            <hr class="mb-4">
        </div>
        <!--POST 01-->
        <div class="row ml-4 mr-2">
            <div class="col-12 mb-4">
                <h5 class="mb-0">POST 01</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postTitle01">Title</label>
                <input type="text" id="postTitle01" class="form-control mb-2" placeholder="Title" value="Bunch o' Books">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="postCat01">Category</label>
                <select class="form-control custom-select" id="postCat01">
                    <option selected>Books</option>
                    <option>Movies</option>
                    <option>Games</option>
                    <option>Furniture</option>
                    <option>Decoration</option>
                    <option>Music</option>
                    <option>Toys</option>
                    <option>Misc.</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postPrice01">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="0.00" value="10.99" id="postPrice01" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-12 mb-4">
                <label for="postDesc01">Description</label>
                <input type="text" id="postDesc01" class="form-control mb-2" placeholder="Description" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit, purus nec ultrices vestibulum, nisi sem elementum nisl, non aliquet lacus.">
            </div>
            <div class="col-12 mb-2">
                <button type="button" id="postSave01" class="btn btn-outline-primary">Save Changes</button>
                <button type="button" id="postDelete01" class="btn btn-outline-danger ml-2">Remove Post</button>
            </div>
            <div class="col-12 px-2">
                <hr class="mb-4">
            </div>
        </div>