<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="../">Browse <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../profile">My Profile <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../myposts">My Posts <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class="navbar-nav mr-right">

        <li>
            <input class="btn btn-outline-danger ml-3" style="width:auto;" type="button" name="logout" value="Logout" (click)="logoutUser()">
        </li>

    </ul>
    </div>
   
</nav>
<div class="container mx-auto" id="mainContent">
    <div class="row mt-5">
        <!--ACCOUNT INFORMATION-->
        <div class="col-12 px-2">
            <div class="row form-inline">
                <div class="col-6 text-left"><h4 class="mb-0">Create Post</h4></div>

                

                <div class="col-6 text-right"><button type="button" [routerLink]="'../create'" id="create" class="btn btn-success">Create Post</button></div>

            </div>
        </div>
        <div class="col-12 px-2">
            <hr class="mb-4">
        </div>
    
        <div class="row ml-4 mr-2">
            <div class="col-12 mb-4">
            
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postTitle01">Title</label>
                <input type="text" id="postTitle01" class="form-control mb-2" placeholder="Title" value="Enter Data">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
                <label for="postCat01">Category</label>
                <select class="form-control custom-select" id="postCat01">
                    <option selected></option>
                    <option>Movies</option>
                    <option>Books</option>
                    <option>Games</option>
                    <option>Furniture</option>
                    <option>Decoration</option>
                    <option>Music</option>
                    <option>Toys</option>
                    <option>Misc.</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postPrice01">Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">$</span>
                    </div>
                    <input type="text" class="form-control" placeholder="0.00" value="0.00" id="postPrice01" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-12 mb-4">
                <label for="postDesc01">Description</label>
                <input type="text" id="postDesc01" class="form-control mb-2" placeholder="Description" value="Product Information">
            </div>
            <div class="col-12 mb-2">


                <div class="col-6 text-right"><button type="button" [routerLink]="'../create'" id="create"
                    class="btn btn-outline-success text-right">Create Post</button></div>                                          

               
                <button type="button" id="postSave01" class="btn btn-outline-primary">Save Changes</button>
                <button type="button" id="postDelete01" class="btn btn-outline-danger ml-2">Remove Post</button>

            </div>
            <div class="col-12 px-2">
                <hr class="mb-4">
            </div>
            <form class="form-horizontal" (ngSubmit) = "createPost()">
                <input class="form-control form-fields" type="text" name="title" placeholder="Title" [(ngModel)]="newPost.title">
                <input class="form-control form-fields" type="text" name="category" placeholder="Category" [(ngModel)]="newPost.category">
                <input class="form-control form-fields" type="text" name="price" placeholder="Price" [(ngModel)]="newPost.price">
                <input class="form-control form-fields" type="text" name="description" placeholder="Description" [(ngModel)]="newPost.description">
                <input class="btn btn-secondary" style="width:100%;" type="submit" name="submit" value="Create">
            </form>
           
        </div>

        
        