<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span
            class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
            <li class="nav-item">
                <button type="button" class="btn btn-dark" (click)="goHome()">Browse</button>
            </li>
    
            <li class="nav-item">
                <button type="button" class="btn btn-dark" (click)="gotoUser()">My Profile</button>
            </li>
    
            <li class="nav-item">
                <button type="button" class="btn btn-dark" disabled (click)="gotoMyPosts()">My Posts</button>
            </li>
        </ul>

        <ul class="navbar-nav mr-right">

            <li>
                <input class="btn btn-outline-danger ml-3" style="width:auto;" type="button" name="logout" value="Logout" (click)="logoutUser()">
            </li>
    
        </ul>



    </div>
</nav>




<div class="container mx-auto" id="mainContent">

    <div class="row mt-5">

        <!--ACCOUNT INFORMATION-->
        <div class="col-12 px-2">
            <div class="row form-inline">

                <div class="col-6 text-left">
                    <h4 class="mb-0"><span>My Posts</span></h4>
                </div>
                <div class="col-6 text-right"><button type="button" [routerLink]="'../create'" id="create"
                        class="btn btn-outline-success text-right">Create Post</button></div>

            </div>
        </div>
        <div class="col-12 px-2">
            <hr class="mb-4">
        </div>


        
        <div class="row" *ngFor='let post of posts'>

            <div class="col col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postUserId">USER ID</label>
                <input type="text"  class="form-control mb-2" placeholder="User ID"
                [(ngModel)]="post.user_id">
            </div>

            <div class="col col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postTitle">Title</label>
                <input type="text"  class="form-control mb-2" placeholder="Post Title"
                [(ngModel)]="post.title">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postDescription">Description</label>
                <input type="text"  class="form-control mb-2" placeholder="Description"
                [(ngModel)]="post.description">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postPrice">Price</label>
                <input type="text"  class="form-control mb-2" placeholder="Price" [(ngModel)]="post.price">
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
                <label for="postCategory">Category</label>
                <input type="text"  class="form-control mb-2" placeholder="Category"
                [(ngModel)]="post.category">
            </div>

            <div class="col-12 mb-5">
                <button type="button" id="postSave01" class="btn btn-outline-primary">Save Changes</button>
                <button type="button" id="postDelete01" class="btn btn-outline-danger ml-2">Remove Post</button>
            </div>

    </div>
</div>


</div>