<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
            <li class="nav-item">
                <button type="button" class="btn btn-dark" (click)="goHome()">Browse</button>
            </li>
    
            <li class="nav-item">
                <button type="button" class="btn btn-dark" disabled (click)="gotoUser()">My Profile</button>
            </li>
    
            <li class="nav-item">
                <button type="button" class="btn btn-dark" (click)="gotoMyPosts()">My Posts</button>
            </li>

        </ul>

    <ul class="navbar-nav mr-right">

        <li>
            <input class="btn btn-outline-danger ml-3" style="width:auto;" type="button" name="logout" value="Logout" (click)="logoutUser()">
        </li>

    </ul>
    </div>
</nav>




<div class="container mx-auto" id="mainContent">

    <div class="alert alert-dismissible alert-success fade show" role="alert" *ngIf="isUpdated">
        Profile successfully updated!
        <button type="button" class="close" (click)="resetAlert()" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form class="row mt-5" (ngSubmit) = "updateUser()">

        <!--ACCOUNT INFORMATION-->
        <div class="col-12 px-2">
            <div class="row form-inline">
                
                <div class="col-6 text-left"><h4 class="mb-0"><span>Account Information for </span><span style="color:#52b176;">{{currentUser.username}}</span></h4></div>
                <div class="col-6 text-right"><input class="btn btn-outline-primary" style="width:50%;" type="submit" name="submit" value="Save Changes"></div>
            
            </div>
        </div>
        
        <div class="col-12 px-2">
            <hr class="mb-4">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
            <label for="firstNameAcct">First Name</label>
            <input type="text" name="first_name" class="form-control form-fields mb-2" placeholder="First Name" [(ngModel)]="currentUser.first_name">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
            <label for="lastNameAcct">Last Name</label>
            <input type="text" name="last_name" class="form-control form-fields mb-2" placeholder="Last Name" [(ngModel)]="currentUser.last_name">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
            <label for="emailAcct">Email</label>
            <input type="text" name="email" class="form-control form-fields mb-2" placeholder="Email" [(ngModel)]="currentUser.email">
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-2">
            <label for="zipAcct">ZIP</label>
            <input type="text" name="zip_code" class="form-control form-fields mb-2" placeholder="ZIP" [(ngModel)]="currentUser.zip_code">
        </div>
    </form>
</div>
