<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a class="nav-link" href="../">Browse <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../profile">My Profile <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="../myposts">My Posts <span class="sr-only"></span></a>
        </li>

    </ul>

    <ul class="navbar-nav mr-right">

        <li class="nav-item">
        <button class="btn btn-outline-light my-2 my-sm-0" href="#" type="button" id="logoutBut">Logout</button>
        </li>

    </ul>

        

    </div>
</nav>

<div class="container mx-auto" id="mainContent">

    <div class="row mt-5">

        <!--ACCOUNT INFORMATION-->
        <div class="col-12 px-2">
            <div class="row form-inline">

                <div class="col-6 text-left"><h4 class="mb-0">Bunch o' Books</h4></div>
                <div class="col-6 text-right"><button type="button" id="postCreate" class="btn btn-primary text-right">Contact Seller</button></div>
            
            </div>
        </div>
        
        <div class="col-12 px-2">
            <hr class="mb-4">
        </div>

    </div>

        <!--POST INFORMATION-->
        <div class="row ml-2 mr-2 mb-3">
            
            <!--SELLER-->
            <div class="col-md-3 col-sm-12 text-left">
                <p class="mb-2" style="font-weight:600;">Seller:</p>
            </div>

            <div class="col-md-9 col-sm-12 mb-3 text-left">
                <p id="postSeller">UserName01</p>
            </div>

            <!--CATEGORY-->
            <div class="col-md-3 col-sm-12 text-left">
                <p class="mb-2" style="font-weight:600;">Category:</p>
            </div>

            <div class="col-md-9 col-sm-12 mb-3 text-left">
                <p id="postCat">Books</p>
            </div>

            <!--PRICE-->
            <div class="col-md-3 col-sm-12 text-left">
                <p class="mb-2" style="font-weight:600;">Price:</p>
            </div>

            <div class="col-md-9 col-sm-12 mb-3 text-left">
                <p id="postPrice">$10.99</p>
            </div>

            <!--LOCATION-->
            <div class="col-md-3 col-sm-12 text-left">
                <p class="mb-2" style="font-weight:600;">Location:</p>
            </div>

            <div class="col-md-9 col-sm-12 mb-3 text-left">
                <p id="postLocation">1234 Way Drive, Fort Worth, TX, 01234</p>
            </div>

            <!--DESCRIPTION-->
            <div class="col-md-3 col-sm-12 text-left">
                <p class="mb-2" style="font-weight:600;">Description:</p>
            </div>

            <div class="col-md-9 col-sm-12 mb-3 text-left">
                <p id="postDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dui a ante ultricies ornare. Donec quam leo, dignissim sit amet mi non, iaculis porta enim.</p>
            </div>
        
        </div>

</div>