.vl {
  border-left: 3px solid white;
}

.form-fields {
  margin-bottom:5px;
}

.dropdown-menu {
  width: 300px !important;
}

a {
  color: #5381ac;
}

a:hover {

  color: #333;
  text-decoration: none;

}

a:active {

  color: #5381ac;
  text-decoration: none;

}

.cat-Toys span {
  display: none;
}
.cat-Toys:after {
  font-family: 'FontAwesome';
  color: #666;  
  font-size: 35px; 
  display: inline-block; 
  content: '\f1ae';
}

.cat-Books span {
  display: none;
}
.cat-Books:after {
  font-family: 'FontAwesome';
  color: #666; 
  font-size: 35px; 
  display: inline-block; 
  content: '\f02d';
}

.cat-Music span {
  display: none;
}
.cat-Music:after {
  font-family: 'FontAwesome';
  color: #666; 
  font-size: 35px; 
  display: inline-block; 
  content: '\f001';
}

.cat-Furniture span {
  display: none;
}
.cat-Furniture:after {
  font-family: 'FontAwesome';
  color: #666;  
  font-size: 35px; 
  display: inline-block; 
  content: '\f015';
}

.cat-Games span {
  display: none;
}
.cat-Games:after {
  font-family: 'FontAwesome';
  color: #666; 
  font-size: 35px; 
  display: inline-block; 
  content: '\f11b';
}

.cat-Movies span {
  display: none;
}
.cat-Movies:after {
  font-family: 'FontAwesome';
  color: #666; 
  font-size: 35px;
  display: inline-block; 
  content: '\f008';
}