<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../assets/logo.svg" style="width:45px;"><span class="vl ml-3 mr-2"></span> MARKET SQUARED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>-->
    </ul>

    <ul class="navbar-nav mr-right">

        <li class="nav-item dropdown mr-3">
        <button class="btn btn-outline-light my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button>
        <div class="dropdown-menu dropdown-menu-right p-3">
            <form class="form-horizontal" method="post" accept-charset="UTF-8">
                <input class="form-control form-fields" type="text" name="username" placeholder="Username">
                <input class="form-control form-fields" type="text" name="password" placeholder="Password">
                <input class="btn btn-secondary" style="width:100%;" type="button" name="submit" value="Login">
            </form>
        </div>
        </li>

        <li class="nav-item dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up</button>
        <div class="dropdown-menu dropdown-menu-right p-3">
            <form class="form-horizontal" method="post" accept-charset="UTF-8">
                <input class="form-control form-fields" type="text" name="firstName" placeholder="First Name">
                <input class="form-control form-fields" type="text" name="lastName" placeholder="Last Name">
                <input class="form-control form-fields" type="text" name="email" placeholder="Email">
                <input class="form-control form-fields" type="text" name="username" placeholder="Username">
                <input class="form-control form-fields" type="text" name="password" placeholder="Password">
                <input class="btn btn-secondary" style="width:100%;" type="button" name="submit" value="Sign Up">
            </form>
        </div>
        </li>

    </ul>

        

    </div>
</nav>

<div class="container mx-auto" id="searchContainer">
    <div class="row mt-5">
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-2 mb-2">
        <label for="searchZip">By Location</label>
        <input type="text" id="searchZip" class="form-control mb-2" placeholder="Enter ZIP">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-2 mb-2">
        <label for="searchItem">By Item</label>
        <input type="text" id="searchItem" class="form-control mb-2" placeholder="Item name">
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-2 mb-2">
        <label for="searchSeller">By Seller</label>
        <input type="text" id="searchSeller" class="form-control mb-2" placeholder="Seller name">
    </div>

    <div class="col mb-2">
        <label for="searchButs"> </label>
        <div id="searchButs" class="form-inline mt-2">
        <button type="submit" id="searchSubmit" onclick="someFunction()" class="btn btn-success mr-2">Search</button>
        <button type="button" id="searchClear" onclick="someOtherFunction()" class="btn btn-outline-secondary">Clear</button>
        </div>
    </div>
    </div>

</div>
<hr>

<div class="container mx-auto" id="mainContent">
    <div class="row">

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/books.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Bunch o' Books<br>$10.99</h5>
            <p><i>UserName01</i> | <i>Fort Worth, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/cassettes.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Classic Cassettes<br>$5.00</h5>
            <p><i>UserName02</i> | <i>Keller, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/vhs.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Mid-90s Movies<br>$20.50</h5>
            <p><i>UserName03</i> | <i>Southlake, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/videogames.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Gaming Gear<br>$75.00</h5>
            <p><i>UserName04</i> | <i>Azle, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/furniture.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Comfy Chairs<br>$25.00</h5>
            <p><i>UserName05</i> | <i>Westlake, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="../assets/images/toys.jpg" alt="Card image cap">
        <div class="card-body">
            <div class="card-text">
            <h5>Toddler Toys<br>$15.00</h5>
            <p><i>UserName05</i> | <i>N. Richland Hills, TX</i></p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="text-right"><a href="#">View post &#187;</a></p>
            </div>
        </div>
        </div>
    </div>

    </div>
</div>